body {
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer {
    text-align: center;
}

header>img {
    width: 50%;
}

nav a {
    color: white;
}

nav, footer {
    background-color: gray;
    padding: 5px;
    margin: 10px;
}

nav img {
    height: 50px;
}

p {
    text-align: justify;
}

/* comentário em css */
#texto1 {
    background-color: red; 
    color: white;
}

.texto2 {
    background-color: blue; 
    color: white;
}
